doctype html
html( ng-app="avantApp" )
  head
    title Gulp Project
    meta( charset="utf-8")
    meta( name="viewport" content="width=device-width,initial-scale=1" )
    link( rel="stylesheet" href="css/libs.min.css" )
    link( rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css" )
    link( rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" )
    link( rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" )
    link( rel="stylesheet" href="css/main.min.css" )
    meta( http-equiv="X-UA-Compatible" content="IE=Edge" )

  body
    header( class="header" )
      nav
        div( class="nav-wrapper" )
          a( href="#/" class="brand-logo center" ) Logo
      
    div( class="main" ng-view)
      
        
    footer
    
    
    script( src="js/libs.min.js" )
    script( src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js" )
    script( src="js/main.min.js" )
